# 忽略大文件
mk-RAG全栈技术从基础到精通 ，打造高精准AI应用/00.资料/resource/rag_full_stack_course_notebooks/notebook/rag/res/huqie.txt.trie
mk-RAG全栈技术从基础到精通 ，打造高精准AI应用/00.资料/00.*/RAG_full_stack_course_notebooks-master.zip
mk-RAG全栈技术从基础到精通 ，打造高精准AI应用/00.资料/00.*/rag_full_stack_course_notebooks/notebook/data/invest-on-invent-KG.json
